// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "./bootstrap-datepicker";

// Notifications
@import '~toastr/toastr';

// Selects
@import '~select2/src/scss/core';
@import '~select2-theme-bootstrap4/src/select2-bootstrap';

// Custom

table {
    th {
        text-transform: uppercase;
        text-align: center;
    }

    td {
        text-align: center;

        &.text {
            text-align: left;
        }
    }
}
