<template>
    <button
        @click="doubleCheck"
        class="btn btn-danger">
        {{label}}
    </button>
</template>
<script>
    export default {
        name: 'BtnConfirmComponent',
        props: ['label', 'theAction', 'form_selector'],
        methods: {
            doubleCheck(){
                if(confirm('Sure?')){
                    window.$(this.form_selector).submit();
                }
            }
        }
    }
</script>
