<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="brand_id">Please choose a brand</label>
                    <select :value="brand" @change="({target: {value}}) => brand=value" class="form-control select2" id="brand_id" name="brand_id" v-select2>
                        <option :value="item.id" v-for="item in brand_options" v-text="item.label"/>
                        <option value="-1">
                            Other
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" v-if="brand_other">
                    <div class="form-group">
                        <label for="brand_other">Brand Other</label>
                        <input aria-describedby="brand_other-help" class="form-control" id="brand_other" name="brand_other" placeholder="Like creativity" type="text" v-model="brand_input">
                        <small class="text-muted" id="brand_other-help">Machine make.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" v-if="brand>0">
                    <label for="model_id">Please choose a Model</label>
                    <select :value="model" @change="({target: {value}}) => model=value" class="form-control select2" id="model_id" name="model_id" v-select2>
                        <option :value="item.id" v-for="item in models" v-text="item.label"/>
                        <option value="-1">
                            Other
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" v-if="brand_other || model_other">
                    <div class="form-group">
                        <label for="model_other">Model Other</label>
                        <input aria-describedby="model_other-help" class="form-control" id="model_other" name="model_other" placeholder="Like CR-10" type="text">
                        <small class="text-muted" id="model_other-help">Machine model. Please include if printer or laser cutter just as a one word equipment description</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Equipment',
        props: ['old_brand', 'old_model', 'brand_options', 'model_options'],
        data() {
            return {
                brand: '',
                model: '',
                brand_other: false,
                brand_input: '',
                model_other: false,
                model_input: false,
            };
        },
        watch: {
            brand(val) {
                // -1 is other. When other is selected we can assume we don't have a model entry for it.
                if (val == -1) {
                    // -1 is other show the input so the user can add one.
                    this.brand_other = true;
                } else {
                    this.brand_other = false;
                    this.model_other = false;
                }
            },
            model(val) {
                // -1 is other show the input so the user can add one.
                this.model_other = val == -1;
            },
            models() {
                if (!this.model_other) {

                    // Re-bind the select when the models value changes.
                    setTimeout(() => {
                        window.$("select#model_id").select2({
                            theme: "bootstrap",
                            placeholder: {
                                id: '-2', // the value of the option
                                text: 'Select an option'
                            },
                        });
                    }, 100);

                }
            }
        },
        computed: {
            /**
             * When you change the brand hide models not linked to the brand
             * @returns {*}
             */
            models() {
                const rtv = this.model_options.filter(({parent_id = false}) => {
                    if (!parent_id) { // if parent id is not set it's a global model
                        return true;
                    }

                    return parent_id == this.brand;
                });

                return rtv;
            },
        },
        mounted() {
            // Track the old values in the data store
            this.brand = this.old_brand;
            this.model = this.old_model;
        }
    }
</script>
