<template>
    <div class="text-left">
        <pre v-html="response"></pre>
        <button @click="track" class="btn btn-primary">Track</button>
    </div>
</template>

<script>
    export default {
        name: "TrackPackage",
        props: ['package_id'],
        data() {
            return {
                response: '',
            };
        },
        methods: {
            async track() {
                const {data} = await window.axios.get(`/admin/api/package/tracking/${this.package_id}`)

                this.response = data;
            }
        }
    }
</script>

<style scoped>

</style>
